h1 {
  font-family: 'Amatic SC', cursive;
  display: flex;
  justify-content: center;
  color: white;
}

body {
  background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=background-blur-clean-531880.jpg&fm=jpg);
}

footer {
  display: flex;
  justify-content: center;
  color: white;
  background: black;
}

h2{
  font-family: 'Amatic SC', cursive;
  color: white;
  text-decoration: none;
}

h3 {
  color: white;
}

.article_section{
  color: white;
  background: black;
  opacity: 0.7;
}

a:hover {
  color: black;
}

span {
  color: white;
}

input {
  opacity: 0.1
}

textarea {
  opacity: 0.1
}

.author {
  color: white;
}

.comment_section {
  color: white;
  list-style-type: none;

}
